version: '3'
services:
  census:
    container_name: census-api
    build:
      context: census
    image: optionalpidaras/census-api-image
    ports:
      - '8080:8000'
    depends_on:
      - postgres
    networks:
      - rest
    environment:
      - DATASOURCE_URL=postgresql+pg8000://postgres:postgres@postgres/census
      - OVERSEER_API_URL=http://localhost:8001

  overseer:
    container_name: overseer-api
    build:
      context: overseer
    image: optionalpidaras/overseer-api-image
    ports:
      - '8081:8001'
    depends_on:
      - postgres
    networks:
      - rest
    environment:
      - CENSUS_URL=http://localhost:8000
      - CRON_INTERVAL=5

  postgres:
    image: 'postgres:latest'
    command:
      - "postgres"
      - "-c"
      - "max_connections=50"
      - "-c"
      - "shared_buffers=1GB"
      - "-c"
      - "effective_cache_size=4GB"
      - "-c"
      - "work_mem=16MB"
      - "-c"
      - "maintenance_work_mem=512MB"
      - "-c"
      - "random_page_cost=1.1"
      - "-c"
      - "temp_file_limit=10GB"
      - "-c"
      - "log_min_duration_statement=200ms"
      - "-c"
      - "idle_in_transaction_session_timeout=10s"
      - "-c"
      - "lock_timeout=1s"
      - "-c"
      - "statement_timeout=60s"
      - "-c"
      - "shared_preload_libraries=pg_stat_statements"
      - "-c"
      - "pg_stat_statements.max=10000"
      - "-c"
      - "pg_stat_statements.track=all"
    environment:
      - 'POSTGRES_DB=census'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    ports:
      - '5432:5432'
    networks:
      - rest
    
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4:7.2
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: "test@netvision.ru"
      PGADMIN_DEFAULT_PASSWORD: "root"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    user: '$UID:$GID'
    ports:
      - "5050:80"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
    networks:
      - rest

networks:
  rest: